<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<%= link_to "Add Student", new_student_path, class: "btn btn-danger" %>

<table>
<tr>
    <td>id</td>
    <td>firstname</td>
    <td>lastname</td>
    <td>gender</td>
    <td>age</td>
    <td>email</td>
    <td>phone number</td>
    <td>action</td>
</tr>

<% @students.each do |student| %>

<tr>
    <td><%= link_to student.id, student_path(student) %></td>
    <td><%= student.firstname %></td>
    <td><%= student.lastname %></td>
    <td><%= student.gender %></td>
    <td><%= student.age %></td>
    <td><%= student.email %></td>
    <td><%= student.phone_number %></td>
    <td>
    
    <%= link_to "Edit", edit_student_path(student), class: "btn btn-warning" %>
    
    <%= link_to "Delete Student", student_path(student), method: "delete", data:{confirm: "Are you sure you want to delete this student?"} , class: "btn btn-danger"%>

    </td>
    
</tr>

<% end %>

</table>